*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
section{  
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    height: 50rem;
    width: 60vw;
    background-image: url("./myimages/img1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 5px rgb(65, 62, 62);
    animation: images 10s linear infinite;
    
}
@keyframes images {
    0%{
        background-image: url("./myimages/img2.jpg");
    }
    20%{
        background-image: url("./myimages/img3.jpg");
    }
    40%{
        background-image: url("./myimages/img4.jpg");
    }
    60%{
        background-image: url("./myimages/img5.avif");
    }
    80%{
        background-image: url("./myimages/img6.jpg");
    }
    100%{
        background-image: url("./myimages/img7.jpg");
    }
    
}