*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{  
    width: 100%;
    height: 100vh;
    background-image: url("./images/cottage1.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-attachment: fixed; */

}
.rain{
    height: 100vh;
    width: 100%;
    background-image: url("./images/rain.png");
    animation: rain 0.5s linear infinite;
}
@keyframes rain {
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 10% 100%;
    }
    
}
